rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Match any document in any collection under the 'users' root collection.
    // This rule enforces that a user can only access documents under their own user ID.
    match /users/{userId}/{document=**} {
      allow read, write: if isOwner(userId);
    }
  }
}
