
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read their own profile, and any admin can read all profiles.
    // Users can only create or update their own profile.
    match /userProfiles/{userId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth.uid == userId;
    }

    // A user can read, write, update, and delete documents in their own /users/{userId} subcollections.
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
