
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId}/{collection}/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /userProfiles/{userId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.resource.data.email == request.auth.token.email;
    }
  }
}
